@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

    /* Mobile styles (default) - max-width: 563px */
    /* Target mobile-specific elements and apply appropriate styles */

    
    /* Start of Header */

    header {
        width: 100%;
        padding: 1em 0 1em 0;
        box-shadow: 0px 2px 4px rgba(87, 87, 87, 0.4);
        background-color: #16181a;
        position: fixed;
        top: 0;
        align-items: center;
        z-index: 9999;
    }

        .nav-section {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            color: #efefef;
            align-items: center;
        }

            .nav-section a {
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .nav-section img {
                height: 30px;
                width: 30px;
            }

            .hamburger {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self: center;
                align-items: center;
                height: 20px;
                width: 25px;
                
            }

                .hamburger span {
                    height: 4px;
                    width: 100%;
                    color: #efefef;
                    background-color: #FBBF00;
                    z-index: 9999;
                }

                .slide-menu {
                    position: fixed;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    height: 100vh;
                    top: 2.5em;
                    right: -100%;
                    font-size: 2rem;
                    background-color: rgba(66, 70, 75, 0.95);
                    transition: 0.4s ease-in-out;
                    
                }

                        .slide-menu ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }
                        
                        .slide-menu li {
                            padding: 0.5em;
                        }

                            .slide-menu li:first-child {
                                padding-top: 4em;
                            }

                            .nav-bar-links, .menu-send-message {
                                margin-top: 5em;
                            }

                            .nav-bar-links {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                        
                        .slide-menu a {
                        color: #fff;
                        text-decoration: none;
                        }

                       #menu-toggle {
                            display: hide;
                       }
            
            #menu-toggle:checked ~ .slide-menu {
                right: 0;
            }


    /* End of Header */

    /* Start of Hero Section */

    .hero-section {
        width: 100%;
        background: linear-gradient(to right, #42464B,  #16181a);
        padding-bottom: 6em;
    }

        .hero-container {
            padding-top: 7em;
            width: 90%;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 300;
            color: white;
            margin: auto;
        }

            .hero-container p, .hero-container h2 {
                line-height: 1.7em;
                margin-bottom: 0.5em;
            }

            .hero-container h2 {
                margin-bottom: 2.5em;
            }

            .hero-container #classimg {
                display: none;
            }

            .hero-container h1 {
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 0.3em;
            }

            .hero-img {
                margin: auto;
            }

            .buttons {
                display: flex;
                flex-direction: column;
            }

            .view-work, .view-project, .menu-send-message, .send-message, .about-me, .source-code {
                width: fit-content;
                align-self: center;
                font-weight: 600;
                background-color: #FBBF00;
                color: #000000;
                padding: 0.5em 1em;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                margin-bottom: 1.5em;
                margin-top: 2.5em;
            }

            .source-code {
                margin-top: 0em;
                background-color: transparent;
                box-shadow: none;
                font-size: 1.5rem;
                margin-bottom: 1em;
            }

            .menu-send-message {
                font-size: 2rem;
            }

            .about-me {
                font-size: 1em;
                margin-bottom: 1em;
                margin-top: 0em;
                background-color: transparent;
                color: white;
                box-shadow: none;
            }

    /* End of Hero Section */

    /* Start of Projects Section */

        .projects-section, .skills {
            padding-top: 5em;
            padding-bottom: 6em;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #efefef;
        } 

            .projects-section h3, .skills h3, .aboutmyself h3, .contact-me h3 {
                font-size: 3rem;
            }

            .projects-section h4, .skills h4, .aboutmyself h4, .contact-me h4, .aboutmyself h4 {
                font-size: 1.5rem;
                width: 100%;
                text-align: center;
                margin-top: 0.5em;
            }

            .project.project-a, .project.project-b, .project.project-c {
                padding: 0em;
            }

            .project-a, .project-b, .project-c {
                margin: auto;
                text-align: center;
                font-size: 1.5rem;
                padding-top: 3.333em;
                padding-bottom: 4em;
            }

            .project-b {
                background-color: #ffffff;
            }

            .project-c {
                padding-bottom: 0em;
            }

                .project-a p, .project-b p, .project-c p {
                    width: 75%;
                    margin: auto;
                }

                .buttons-a, .buttons-b, .buttons-c {
                    display: flex;
                    flex-direction: column;
                }

                    .view-project {
                        font-size: 1.5rem;
                        margin-top: 2.5em;
                    }

                    .source-code {
                        font-size: 1.5rem;
                        margin-bottom: 1em;
                    }

    /* End of Projects Section */

    /* Start of Skills and Tools Section */

    .skills {
        padding-bottom: 6em;
        background-color: #ffffff;
    }

        .skills img {
            width: 80%;
        }

        .html, .css, .bootstrap, .sass, .javascript, .reactjs, .php, .codeigniter, .laravel, .sql, .mysql, .postman, .selenium, .adobe-express, .figma, .vscode {
            padding: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tech-skills-a, .tech-skills-b {
            width: 90%;
            margin: auto;
        }

        .tech-skills-a {
            margin-top: 5em;
        }

        .tech-skills-b {
            margin-bottom: 2em;
        }

        .group-a, .group-b, .group-c, .group-d {
            display: flex;
            justify-content: center;
            width: 90%;
            margin: auto;
        }

    /* End of Skills and Tools Section */

    /* Start of About Me Section */

    .aboutmyself {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #42464B;
        padding: 5em 0 6em;
    }

        .aboutmyself h3, .aboutmyself h4, .aboutmyself p {
            color: #efefef;
        }

        .aboutmyself h4 {
            margin-bottom: 2.5em;
        }

        .aboutmyself p {
            width: 90%;
            margin: auto;
            line-height: 1.5;
            font-size: 1.5rem;
            text-align: center;
        }

        .aboutmyself h4:last-of-type {
            margin-top: 4.5em;
        }

        .resume-link, .read-more {
            font-size: 1.5rem;
            color: #FBBF00;
            margin-bottom: 0em;
            text-decoration: underline;
            margin-bottom: 1em;
        }

        .read-more {
            font-size: 1.5rem;
            text-decoration: none;
            margin-bottom: 3.33em;
        }

        .about {
            width: 90%;
            align-self: center;
            color: #efefef;
        }

        .about p {
            width: 100%;
            margin: 0;
        }

            .about img {
                margin-bottom: 5em;
            }

    /* End of About Me Section */

    /* Start of Contact Section */        

    .contact {
        width: 90%;
        text-align: center;
        margin: auto;
        padding-top: 5em;
        padding-bottom: 6em;
    }

        .contact-me h3 {
            font-weight: 600;
        }

        .contact-me h4 {
            font-size: 2rem;
            margin-top: 1em;
            margin-bottom: 1em;
            color: #252525;
            font-weight: 600;
        }

        .send-message {
            font-size: 1.5rem;
            margin-top: 1.5em;
            margin-bottom: 2em;
        }

        .contact-details {
            font-size: 1.5rem;
            font-weight: 600;
        }

            .contact-details p {
                margin-bottom: 1em;
            }

    /* End of Contact Section */

    /* Start of Footer Section */ 

     .footer-container {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        padding-bottom: 2em;
        color: #efefef;
        background-color: #16181a;
    }

        .address {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 50%;
            margin-bottom: 1.5em;
            align-self: center;
        }

            .address p, .legal-regulations {
                font-size: 1em;
            }

            strong {
                color: #FBBF00;
            }

        .legal-regulations {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: auto;
            width: 50%;
            margin-bottom: 2.5em;
        }

        .social-links {
            width: 25%;
            display: flex;
            justify-content: center;
            line-height: 100%;
            align-items: center;
            margin: auto;
        }

            .social-links a {
                display: flex;
                justify-content: center;
                height: 2.5em;
                width: 2.5em;
                margin: auto;
            }


    /* End of Footer Section */

    /* Start of Tablet media query*/ 

    @media screen and (min-width:431px) and (max-width:800px) {

        

        .nav-section a {
            height: 30px;
            width: 30px;
        } 
    
            .hero-container {
                padding-top: 8em;
            }

            .hero-section {
                padding-bottom: 10em;
            }

            .hero-details {
                display: flex;
                flex-direction: column;
            }

            

            .hero-container h1, .projects-section.projects-section h3, .skills h3, .aboutmyself h3, .contact.contact h3 {
                font-size: 4rem;
            }

            .hero-container h2, .hero-container p {
                font-size: 2rem;
            }
    
            .hero-container h1, .hero-container p {
                margin-bottom: 1em;
            }

            .hero-container h1 {
                margin-bottom: 0.5em;
            }
    
            .hero-container h2, .hero-container p,  .hero-container h1 {
                width: 100%;
                align-self: center;
                text-align: center;
            }

            .hero-details h2 {
                width: 80%;
            }
    
            .projects-section.projects-section, .skills, .contact.contact, .aboutmyself.aboutmyself {
                padding-top: 10em;
                padding-bottom: 10em;
            }
    
            .hamburger, .hamburger span {
                display: none;
            }
    
            .slide-menu {
                position: relative;
                display: flex;
                justify-content: flex-end;
                height: 0vh;
                top: 0em;
                right: 0;
                font-size: 2rem;
                font-weight: 100;
                background-color: rgba(66, 70, 75, 0.95);
                transition: 0s;
            }
    
                    .nav-bar-links {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        color: white;
                    }

                    .nav-bar-links li {
                        margin-right: 2em;
                    }
    
                    .menu-send-message {
                        display: none;
                    }
    
                    .slide-menu li:first-child {
                        padding-top: 0em;
                    }
    
                    .nav-bar-links .send-message {
                        margin-top: 0em;
                    }
    
                    .slide-menu li {
                        padding: 0em;
                        margin-left: 1.5em;
                    }
    
                    .buttons {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-top: 4.66em;
                        margin-bottom: 2em;
                    }
    
                    .view-work {
                        margin-right: 0.7em;
                        margin-top: 0em;
                        margin-bottom: 0em;
                        font-size: 2.5rem;
                    }
                    
                    .about-me {
                        margin-left: 0.7em;
                        margin-bottom: 0em;
                        font-size: 2.5rem;
                    }
    
                    .project.project-a {
                        margin-bottom: 0em;
                    }
    
                    .indicator {
                        margin-top: 0em;
                    }
    
                    .project-b {
                        background-color: #efefef;
                    }
    
                    .project-c, .project-a, .project-b {
                        padding-bottom: 2em;
                    }
    
                    .project-a p, .project-b p, .project-c p, .aboutmyself.aboutmyself p {
                        width: 50%;
                        font-size: 2rem;
                        text-align: center;
                    }
    
                    .aboutmyself.aboutmyself p {
                        width: 80%;
                        text-align: center;
                    }
    
                    .about-me p {
                        width: 100%;
                    }
    
                    .resume-link {
                        font-size: 2rem;
                    }
    
                    a.read-more {
                        font-size: 2rem;
                    }
    
                    .aboutmyself h4:last-of-type {
                        margin-top: 4em;
                    }
    
                    .about p:first-of-type {
                        width: 90%;
                    }
                    
    
                    .projects-section h4, .skills h4, .aboutmyself h4 {
                        font-size: 2rem;
                    }
    
                    .buttons-a, .buttons-b, .buttons-c {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-top: 4.66em;
                        margin-bottom: 2.66em;
                    }
    
                    .aboutmyself p {
                        width: 80%;
                        margin: auto;
                        line-height: 1.5;
                        font-size: 1.3rem;
                    }
    
                        .view-project {
                            font-size: 2.5rem;
                            margin-top: 0em;
                        }
    
                        .source-code {
                            font-size: 2.5rem;
                            margin-bottom: 0em;
                            margin-left: 0.5em;
                        }
    
                        .view-project {
                            margin-bottom: 0em;
                            margin-right: 0.5em;
                        }
    
                        .featured-projects {
                            width: 100%;
                            overflow: hidden;
                            position: relative;
                        }
    
                        .project.project-a, .project.project-b, .project.project-c {
                            padding-bottom: 0em;
                            padding-top: 0em;
                        }
    
                        .carousel {
                            display: flex;
                            overflow-x: auto;
                            scroll-snap-type: x mandatory;
                            -webkit-overflow-scrolling: touch;
                            scroll-behavior: smooth;
                            scrollbar-width: none;
                            -ms-overflow-style: none;
                        }
                          
                        .carousel::-webkit-scrollbar {
                            display: none;
                        }
                          
                        .project {
                            flex: 0 0 100%;
                            scroll-snap-align: start;
                        }
                          
                        .indicators {
                            display: flex;
                            justify-content: center;
                            margin-top: 10px;
                        }
                          
                        .indicator {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: gray;
                            margin: 0 5px;
                        }
                          
                        .indicator.active {
                            background-color: black;
                        }

                        .send-message {
                            font-size: 2rem;
                        }

                        .contact-details {
                            font-size: 2rem;
                        }
    
                        footer {
                            background-color: #16181a;
                        }
    
                        .footer-container {
                            width: 90%;
                            margin: auto;
                            font-size: 1.2rem;
                            display: flex;
                            flex-direction: row;
                            padding: 0.5em 0em 0.5em;
                            color: #efefef;
                            background-color: #16181a;
                            justify-content: space-between;
                        }
                    
                            .address.address {
                                display: flex;
                                flex-direction: column;
                                text-align: left;
                                width: 33%;
                                margin: 0;
                                margin-bottom: 0em;
                            }
                    
                                .address p, .legal-regulations {
                                    font-size: 1em;
                                }
                    
                                strong {
                                    color: #FBBF00;
                                }
                    
                            .legal-regulations {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: center;
                                align-items: center;
                                margin: 0;
                                width: 33%;
                                margin-bottom: 0em;
                            }
                    
                            .social-links {
                                width: 33%;
                                justify-content: flex-end;
                                margin: 0;
                            }
                    
                                .social-links a {
                                    margin: 0;
                                    margin-right: 1em;
                                }
    
        }

        @media screen and (min-width:801px) {


            .nav-section {
                width: 70%;
            }
            .nav-section a {
                height: 30px;
                width: 30px;
            } 
        
                .hero-container {
                    padding-top: 7.5em;
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .hero-details {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    width: 50%;
                    padding-top: 2.5em;
                }

                .hero-container .hero-img {
                    display: none;
                }

                .hero-container #classimg {
                    display: block;
                }
    
                .hero-container h1, .projects-section.projects-section h3, .skills h3, .aboutmyself h3, .contact.contact h3 {
                    font-size: 4rem;
                }
    
                .hero-container h2, .hero-container p {
                    font-size: 2rem;
                }
        
                .hero-container h1 {
                    margin-bottom: 0.25em;
                }
        
                .hero-container h2, .hero-container p {
                    align-self: left;
                }

                .hero-img {
                    width: 40%;
                    margin: 0;
                }

                

                    .view-work, .about-me {
                        margin: 0;
                    }
        
                .projects-section.projects-section, .skills, .contact.contact, .aboutmyself.aboutmyself {
                    padding-top: 10em;
                    padding-bottom: 10em;
                }
        
                .hamburger, .hamburger span {
                    display: none;
                }
        
                .slide-menu {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    height: 0vh;
                    top: 0em;
                    right: 0;
                    font-size: 2rem;
                    font-weight: 100;
                    background-color: rgba(66, 70, 75, 0.95);
                    transition: 0s;
                }
                
                        .nav-bar-links {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            color: white;
                        }
    
                        .nav-bar-links li {
                            margin-right: 2em;
                        }
        
                        .menu-send-message {
                            display: none;
                        }
        
                        .slide-menu li:first-child {
                            padding-top: 0em;
                        }
        
                        .nav-bar-links .send-message {
                            margin-top: 0em;
                        }
        
                        .slide-menu li {
                            padding: 0em;
                            margin-left: 1.5em;
                        }
        }