@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
    /* Start of Header Section */

    .container {
        display: flex;
        flex-direction: column;
    }

        header {
            width: 100%;
            padding: 1em 0 1em 0;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            background-color: #16181a;
            position: fixed;
            top: 0;
            line-height: 9px;
            align-items: center;
            z-index: 9999;
        }

            .nav-section {
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .nav-section img {
                    height: 30px;
                    width: 30px;
                }

        
        /* End of Header Section */

        /* Start of Main Section */


        main, .projects, .skills, .aboutme {
            margin-bottom: 0em;
        }

        main {
            background: linear-gradient(to right, #42464B,  #16181a);
            margin-bottom: 0em;
            padding-top: 10em;
        }

            .hero-page {
                font-family: "Poppins", sans-serif;
                width: 70%;
                display: flex;
                margin: auto;
                justify-content: center;
                padding-bottom: 10em;
                font-weight: 300;
                color: white;
            }

                .hero {
                    width: 60%;
                    text-align: left;
                }

                    .hero p {
                        margin-bottom: 0.5em;
                        width: 50%;
                    }

                    h1 {
                        font-size: 5rem;
                        font-weight: 600;
                        margin-bottom: 0.5em;
                    }

                    .hero p, h2 {
                        font-size: 2.5rem;
                    }

                    .view-work, .about-me, .send-message {
                        font-size: 2.5rem;
                        padding: 0.5em 1em;
                        margin-top: 3em;
                    }
                    .send-message {
                        margin: auto;
                    }

                    .view-work, .send-message {
                        font-weight: 600;
                        margin-right: 1em;
                        background-color: #FBBF00;
                        color: #000000;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                    }

                    .hero-img {
                        display: flex;
                        justify-content: flex-end;
                        align-items: first baseline;
                        width: 40%;
                    }
                    
                        .hero-img img {
                            max-width: 100%;
                            max-height: 100%;
                        }

    
        /* End of Main Section */

        /* Start of PROJECTS section */


        .projects, .aboutmyself {
            background-color: white;
            border-bottom: 1px solid #efefef;
        }

            .projects h3, .projects h4, .skills h3, .skills h4, .aboutmyself h3 {
                font-family: "Wix Madefor Text", sans-serif;
                font-size: 3rem;
                text-align: center;
                margin-bottom: 0.5em;
                padding-top: 3.33em;
            }

            h3 {
                font-weight: 600;
            }

            .projects h4, .skills h4, .about h4 {
                width: 30%;
                margin: auto;
                font-size: 1.5rem;
                margin-bottom: 3em;
                color: black;
            }

            .projects h4, .skills h4 {
                padding-top: 0em;
                line-height: 3rem;
            }

            .featured-projects, .tech-skills-a, .tech-skills-b, .about {
                width: 80%;
                display: flex;
                margin: auto;
                justify-content: space-between;
            }

            .featured-projects {
                width: 60%;
            }

                .project-a, .project-b, .project-c {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 2em;
                    padding: 0.75em;
                    background-color: transparent;
                    width: 33.33%;
                }

                    .buttons-a, .buttons-b, .buttons-c {
                        display: flex;
                        width: 275px;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .view-project {
                        font-size: 2rem;
                        padding: 0.5em 1em;
                        margin-top: 3em;
                        cursor: pointer;
                        font-weight: 400;
                        background-color: #FBBF00;
                        color: #000000;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                        margin-top: 2.5em;
                        margin-bottom: 2.5em;
                    }

                    .inspect-code {
                        font-size: 1.5rem;
                    }


        /* End of Projects Section */

        /* Start of Skills Section */


        .skills {
            background-color: white;
        }

            .tech-skills-a, .tech-skills-b {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 70%;
            }
    
                .group-a, .group-b, .group-c, .group-d {
                    display: flex;
                    margin: auto;
                }

                .html, .css, .bootstrap, .sass, .javascript, .reactjs, .php, .codeigniter, .laravel, .sql, .mysql, .postman, .selenium, .adobe-express, .figma, .vscode {
                    padding: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                }


        /* End of Skills Section */

        /* Start of About Me Section */


        .aboutmyself {
            background-color: #dadcde;
        }

            .about {
                margin-bottom: 0em;
                padding-bottom: 10em;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .about h4 {
                    line-height: 3rem;
                    margin: 0rem;
                }

                .dogs img {
                    margin-left: 10em;
                    height: 80%;
                    width: 80%;
                }


        /* End of About Me Section */

        /* Start of Contact Section */


            .contact-info {
                width: 70%;
                margin: auto;
                padding-top: 10em;
                padding-bottom: 10em;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .contact-me {
                    width: 60%;
                }

                .contact-me h3 {
                    font-size: 4rem;
                }

                .contact-me h4 {
                    font-size: 2rem;
                    font-weight: 600;
                }

                .contact-details {
                    font-size: 2rem;
                    font-weight: 600;
                    color: #000000;
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    line-height: 2em; 
                }

                    .contact-details a {
                        cursor: pointer;
                    }
        
                    .send-message {
                        margin-top: 2em;
                    }


        /* End of Contact Section */

        /* Start of Footer */


        footer {
            background-color: #16181a;
            padding: 0.5em;
            width: 100%;
            bottom: 0;
            font-size: 1.2rem;
        }

            .footer-container {
                width: 70%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                color: white;
                align-items: center;
            }

                footer strong {
                    color: #FBBF00;
                    cursor: pointer;
                }

                .address strong:hover {
                    font-weight: 700;
                }

            .legal-regulations {
                text-align: center;
                margin-right: 6.5em;
            }

                .legal-regulations a:hover {
                    font-weight: 700;
                }

            .social-links {
                cursor: pointer;
            }

                .social-links a {
                    margin-left: 1em;
                }

    
        /* End of Footer */

        /* Start of Media Queries Mobile/Portrait/0px to 563px */


        @media screen and (max-width: 563px) {

            nav {
                display: none;
            }

        main {
            padding-top: 10em;
        }

            .hero-page {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 5em;
            }

            .hero-page, .projects, .contact-info, .footer-container {
                width: 90%;
                margin: auto;
            }

                .hero {
                    width: 100%;
                    text-align: center;
                }

                    h1 {
                        font-size: 3rem;
                        font-weight: 600;
                        margin-bottom: 0.5em;
                    }

                    .hero p, h2{
                        font-size: 1.5rem;
                        margin: auto;
                    }

                    .hero-img {
                        margin-top: 4em;
                        width: 100%;
                    }

                        .hero-img img {
                            padding-right: 1.6em;
                        }

                    .view-work, .about-me, .send-message {
                        font-size: 1.5rem;
                        padding: 0.5em 1em;
                        margin-top: 3em;
                        cursor: pointer;
                    }
                        .send-message {
                            margin: auto;
                        }

                    .view-work, .send-message {
                        font-weight: 600;
                        margin-right: 1em;
                        background-color: #FBBF00;
                        color: #000000;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                    }

                .featured-projects {
                    width: 100%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                }

                    .projects {
                        padding-top: 5em;
                        padding-bottom: 5em;
                    }

                    .projects h3 {
                        padding: 0em;
                    }

                .buttons-a, .buttons-b, .buttons-c {
                    width: 245px;
                }

                    .projects h4, .skills h4 {
                        width: 100%;
                    }

                    .project-a, .project-b, .project-c {
                        height: 100%;
                        width: 100%;
                        margin: auto;
                        margin-bottom: 2em;
                        background-color: #f4f4f5;
                    }

                    .project-c {
                        margin-bottom: 0em;
                    }

                    .buttons-a, .buttons-b, .buttons-c {
                        display: flex;
                        width: 250px;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .view-project {
                        font-size: 1.5rem;
                        padding: 0.5em 1em;
                        margin-top: 3em;
                        cursor: pointer;
                        font-weight: 600;
                        background-color: #FBBF00;
                        color: #000000;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                        margin-top: 2.5em;
                        margin-bottom: 2.5em;
                    }

                .skills {
                    padding-top: 5em;
                    padding-bottom: 5em;
                }

                    .skills h3 {
                        padding-top: 0em;
                    }

                .tech-skills-a, .tech-skills-b {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    width: 70%;
                }

                .tech-skills-b {
                    margin-bottom: 0em;
                }

                    .group-a, .group-b, .group-c, .group-d {
                        display: flex;
                        margin: auto;
                    }

            .aboutmyself {
                padding-top: 5em;
                padding-bottom: 5em;
            }

            .about {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 0em;
                padding-bottom: 0em;
            }

                .aboutmyself h3 {
                    padding-top: 0em;
                    margin-bottom: 1.5em;
                }

                .about h4 {
                    line-height: 3rem;
                    margin: auto;
                    width: 100%;
                    text-align: center;
                }

                .dogs {
                    display: flex;
                    justify-content: center;
                }

                    .dogs img {
                        margin: auto;
                        margin-top: 2em;
                    }

            .contact {
                padding-bottom: 5em;
                padding-top: 5em;
            }

            .contact-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 0em;
                padding-top: 0em;
            }

                .contact-me, .contact-details {
                    margin: auto;
                    text-align: center;
                    width: 100%;
                }

                .contact-details {
                    margin-top: 2em;
                }

                .contact-me h3 {
                    font-size: 2.5rem;
                }

                .contact-me h4 {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                .send-message {
                    margin-top: 2em;
                    margin-right: 0em;
                }

                .contact-info a {
                    font-size: 1.5rem;
                }

        footer {
            padding: 0em;
        }

        .footer-container {
            display: flex;
            flex-direction: column;
            padding-top: 2em;
            padding-bottom: 2em;
        }

            .address {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 50%;
                margin-bottom: 1.5em;
            }

                .address p, .legal-regulations {
                    font-size: 1em;
                }

            .legal-regulations {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: auto;
                width: 50%;
                margin-bottom: 2.5em;
            }

            .social-links {
                width: 25%;
                display: flex;
                justify-content: center;
                line-height: 100%;
                align-items: center;
                margin: auto;
            }

                .social-links a {
                    display: flex;
                    justify-content: center;
                    height: 2.5em;
                    width: 2.5em;
                    margin: auto;
                }
        }


        /* End of Media Queries Mobile/Portrait/0px to 563px */

        /* Start of Media Queries Tablet/Portrait - Mobile/Landscape - 563px to 768px */


        @media screen and (min-width: 564px) and (max-width: 768px) {

            nav {
                display: none;
            }

            .hero-page, .projects, .contact-info, .footer-container {
                width: 90%;
                margin: auto;
            }

                h1 {
                    font-size: 3rem;
                    font-weight: 600;
                    margin-bottom: 0.5em;
                }

                .hero p, h2 {
                    font-size: 1.5rem;
                }

                .view-work, .about-me, .send-message {
                    font-size: 1.5rem;
                    padding: 0.5em 1em;
                    margin-top: 3em;
                    cursor: pointer;
                }
                    .send-message {
                        margin: auto;
                    }

                .view-work, .send-message {
                    font-weight: 600;
                    margin-right: 1em;
                    background-color: #FBBF00;
                    color: #000000;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                }

                .projects h4, .skills h4 {
                    width: 100%;
                }

            .featured-projects {
                width: 100%;
                margin: auto;
                margin-bottom: 10em;
            }

                .project-a, .project-b, .project-c {
                    height: 100%;
                    width: 100%
                }

                    .view-project {
                        font-size: 1.5rem;
                        padding: 0.5em 1em;
                        margin-top: 3em;
                        cursor: pointer;
                        font-weight: 400;
                        background-color: #FBBF00;
                        color: #000000;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                        margin-top: 2.5em;
                        margin-bottom: 2.5em;
                    }

                .tech-skills-a, .tech-skills-b {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                }

                    .group-a, .group-b, .group-c, .group-d {
                        display: flex;
                        margin: auto;
                    }

                    .group-d {
                        margin-bottom: 9em;
                    }

            .about {
                margin-bottom: 0em;
                padding-bottom: 10em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .about h4 {
                    line-height: 3rem;
                    margin: 0rem;
                    width: 100%;
                    margin-top: 5em;
                    text-align: center;
                }

                .dogs {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 5em;
                }

                    .dogs img {
                        margin: auto;
                    }

            .contact-info {
                padding-bottom: 15em;
            }

                .contact-me h3 {
                    font-size: 2.5rem;
                }

                .contact-me h4 {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                .send-message {
                    margin-top: 2em;
                }

                .contact-info a {
                    font-size: 1.5rem;
                }
            }


        /* End of Media Queries Tablet/Portrait - Mobile/Landscape - 563px to 768px */

        /* Start of Media Queries Laptop/Monitor Screen - Tablet/Landscape - 769px to 1184px */


        @media screen and (min-width: 769px) and (max-width: 1184px) {

            .nav-section {
                width: 90%;
            }

            ul {
                display: flex;
            }

                li {
                    font: 1.5rem "Wix Madefor Text", sans-serif;
                    color: white;
                    font-weight: 400;
                    margin-right: 1em;
                    margin-left: 3em;
                    cursor: pointer;
                }
    
            h1 {
                font-size: 4rem;
                font-weight: 600;
                margin-bottom: 0.5em;
            }
    
            .hero p, h2 {
                font-size: 2rem;
            }
    
            .hero-page, .projects, .contact-info, .footer-container {
                width: 90%;
                margin: auto;
            }
    
            .view-work, .about-me, .send-message {
                font-size: 2rem;
                padding: 0.5em 1em;
                margin-top: 3em;
                cursor: pointer;
            }
                .send-message {
                    margin: auto;
                }
    
            .view-work, .send-message {
                font-weight: 600;
                margin-right: 1em;
                background-color: #FBBF00;
                color: #000000;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            }

            .featured-projects {
                width: 100%;
                margin: auto;
                margin-bottom: 10em;
            }
    
                .view-project {
                    font-size: 1.5rem;
                    padding: 0.5em 1em;
                    margin-top: 3em;
                    cursor: pointer;
                    font-weight: 600;
                    background-color: #FBBF00;
                    color: #000000;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                    margin-top: 2.5em;
                    margin-bottom: 2.5em;
                }
        
                    .project-a, .project-b, .project-c {
                        height: 100%;
                        width: 100%
                    }

                    .buttons-a, .buttons-b, .buttons-c {
                        width: 245px;
                    }

                    .tech-skills-b {
                        margin-bottom: 0em;
                    }

                        .group-d {
                            margin-bottom: 10em;
                        }
    
            .about {
                margin-bottom: 0em;
                padding-bottom: 10em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
                .about h4 {
                    line-height: 3rem;
                    margin: 0rem;
                    width: 100%;
                    margin-top: 5em;
                    text-align: center;
                }
    
                .dogs img {
                    margin-left: 10em;
                    height: 70%;
                    width: 70%;
                }

                .contact-info {
                    padding-bottom: 15em;
                }
        
                .contact-me h3 {
                    font-size: 3rem;
                }
        
                .contact-me h4 {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
        
                .send-message {
                    margin-top: 2em;
                }
        }
    

        /* End of Media Queries Laptop/Monitor Screen - Tablet/Landscape - 769px to 1184px */

        /* Start of Media Monitor Screen 1185px and up */


        @media screen and (min-width: 1185px) {

            header img {
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                    transition: transform 0.3s;
                }

                header a {
                    margin: 0em;
                }

                    header img:hover {
                        transform: rotate(90deg);
                    }

                ul {
                    display: flex;
                }

                    li {
                        font: 1.5rem "Wix Madefor Text", sans-serif;
                        color: white;
                        font-weight: 400;
                        margin-right: 1em;
                        margin-left: 3em;
                        cursor: pointer;
                    }
                    
                    li:hover {
                        color: #FBBF00;
                    }

                    .view-work, .about-me, .send-message {
                        font-size: 2.5rem;
                        padding: 0.5em 1em;
                        margin-top: 3em;
                        cursor: pointer;
                    }
                        .send-message {
                            margin: auto;
                        }

                    .view-work, .send-message {
                        font-weight: 600;
                        margin-right: 1em;
                        background-color: #FBBF00;
                        color: #000000;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                    }

                        .view-work:hover, .send-message:hover {
                            background-color: #dadcde                        ;
                            color: black;
                        }

                        .featured-projects {
                            width: 80%;
                        }

                        .project-a, .project-b, .project-c {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            margin-right: 2em;
                            background-color: transparent;
                        }

                        .project-a img, .project-b img, .project-c img {
                            transition: transform 0.3s;
                            width: 100%;
                        }
            
                            .view-project {
                                font-size: 1.8rem;
                                padding: 0.5em 1em;
                                cursor: pointer;
                                font-weight: 600;
                                background-color: #FBBF00;
                                color: #000000;
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                            }

                            .inspect-code {
                                cursor: pointer;
                            }

                                .inspect-code:hover {
                                    font-weight: 600;
                                }
                
                                .view-project:hover {
                                    background-color: #dadcde;
                                    color: black;
                                    font-weight: 600;
                                }

                        .tech-skills-a, .tech-skills-b {
                            display: flex;
                            width: 85%;
                            background-color: transparent;
                        }

                            .html, .css, .bootstrap, .sass, .javascript, .reactjs, .php, .codeigniter, .laravel, .sql, .mysql, .postman, .selenium, .adobe-express, .figma, .vscode {
                                box-shadow: none;
                            }
                        
                        .project-a img:hover, .project-b img:hover, .project-c img:hover {
                            transform: scale(1.1);
                        }

                            .project-a a:hover, .project-b a:hover, .project-c a:hover {
                                color: black;
                                font-weight: 600;
                            }
                        
                            .group-d {
                                margin-bottom: 0em;
                            }

                            .about-me:hover {
                                font-weight:400;
                                color: #FBBF00;
                            }

                        
                    .figma img:hover {
                        content: url(images/figma-logo.svg);
                    }
                    
                    .adobe-express img:hover {
                        content: url(images/adobeexpress-logo.svg);
                    }
                
                    .selenium img:hover {
                        content: url(images/selenium-logo.svg);
                    }
                
                    .vscode img:hover {
                        content: url(images/vscode-logo.svg);
                    }
                
                    .postman img:hover {
                        content: url(images/postman-logo.svg);
                    }
                
                    .mysql img:hover {
                        content: url(images/mysql-logo.svg);
                    }
                
                    .sql img:hover {
                        content: url(images/sql-logo.svg);
                    }
                
                    .laravel img:hover {
                        content: url(images/laravel-logo.svg);
                    }
                
                    .codeigniter img:hover {
                        content: url(images/codeigniter-logo.svg);
                    }
                
                    .php img:hover {
                        content: url(images/php-logo.svg);
                    }
                
                    .reactjs img:hover {
                        content: url(images/react-logo.svg);
                    }
                
                    .sass img:hover {
                        content: url(images/sass-logo.svg);
                    }
                
                    .bootstrap img:hover {
                        content: url(images/bootstrap-logo.svg);
                    }
                
                    .javascript img:hover {
                        content: url(images/javascript-logo.svg);
                    }
                
                    .css img:hover {
                        content: url(images/css-logo.svg);
                    }
                
                    .html img:hover {
                        content: url(images/html-logo.svg);
                    }

                .send-message {
                    margin-top: 2em;
                }

                .contact-info {
                    padding-bottom: 15em;
                }
        }

    
      
     

    