/* Start of header */

@media screen and (min-width:1441px) and (max-width:2556px) {

    header {
        align-items: center;
        background-color: $hdr-ftr-bg;
        box-shadow: 0px 2px 4px rgba(87, 87, 87, 0.4);
        padding: 1em 0 1em 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        .nav-section {
            align-items: center;
            color: #efefef;
            display: flex;
            justify-content: space-between;
            margin: auto;
            width: 70%;
            a {
                align-items: center;
                display: flex;
                height: auto;
                justify-content: center;
                width: 30px;
                z-index: 2;
                :hover {
                    cursor: pointer;
                }
            }
            #menu-toggle {
                display: none;
                z-index: 1;
                &:checked ~ .slide-menu {
                    left: 0;
                    top: 2.5em;
                    transition: 0s;
                }
                &:not(:checked) ~ .slide-menu {
                    background-color: transparent;
                    left: 0;
                    top: -100%;
                    transition: 0s;
                }
            }
            
            .hamburger {
                align-self: center;
                display: none;
                flex-direction: column;
                height: 20px;
                justify-content: space-between;
                width: 25px;
                z-index: 2;
                span {
                    background-color: #FBBF00;
                    color: #efefef;
                    height: 4px;
                    width: 100%;
                }
            }
            .slide-menu {
                background-color: transparent;
                display: flex;
                font-size: 2rem;
                height: 0;
                justify-content: flex-end;
                position: relative;
                text-align: center;
                width: 100%;
                .nav-bar-links {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding-top: 0em;
                    li {
                        padding: 0.5em;
                        margin-left: 1.5em;
                        :hover {
                            cursor: pointer;
                            color: #FBBF00;     
                        }
                        a {
                            width: 100%;
                            &:focus {
                                outline: 2px solid blue;
                            }
                        }
                    }
                    .menu-send-message {
                        display: none;
                        margin-top: 5em;
                        @each $property, $value in $btn {
                            #{$property}: $value;
                        }
                    }
                }
            }
        }
    }
        
    
    /* End of Header Section */
    
    /* Start of Hero Section */
    
    
    .hero-section {
        background: linear-gradient(to right, #42464B,  #16181a);
        padding-bottom: 8em;
        .hero-container {
            color: white;
            display: flex;
            flex-direction: row;
            font-size: $mobile-font;
            font-weight: 300;
            margin: auto;
            padding-top: 5em;
            text-align: center;
            width: 70%;
            .hero-details {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 2em;
                p, h2 {
                    line-height: 1.7em;
                    margin-bottom: 0.5em;
                    text-align: left;
                    font-size: 2rem;
                }
                h1 {
                    font-size: 5rem;
                    font-weight: 600;
                    margin-bottom: 0.3em;
                    text-align: left;
                }
                .buttons {
                    margin-top: 3em;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    button {
                        width: 10em;
                        font-size: 2rem;
                        @each $property, $value in $btn {
                            #{$property}: $value;
                        }
                        &:is(.about-me) {
                            background-color: transparent;
                            color: #FBBF00;
                            box-shadow: none;
                            &:hover {
                                color: #efefef;
                            }
                        }
                    }
                    :hover {
                        cursor: pointer;
                        background-color: #ffaa00;
                    }
                }
            }
            .hero-img {
                margin-top: 2em;
                margin-bottom: 4em;
                max-width: 35%;
                height: auto;
            }
        }
        #buttons2 {
            display: none;
        }
    }
        
    
    /* End of Hero Section */
        
    /* Start of Project Section */
    
    
    $carouselWidth: 100%;
    
    #projects.projects-section {
      background-color: #eaeaea;
      padding-top: 8em;
      padding-bottom: 8em;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      h3 {
        font-size: $h3;
      }
    
      h4 {
        font-size: 2rem;
        margin-bottom: 4em;
      }
    
      .featured-projects {
        position: relative;
        overflow: hidden;
        width: 80%;
    
        .carousel {
          display: flex;
          width: $carouselWidth;
    
          .project-a,
          .project-b,
          .project-c {
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            img {
              max-width: 90%;
              height: auto;
              margin-bottom: 1em;
            }
    
            p {
              font-size: 2rem;
              margin-bottom: 4em;
              margin-top: 2em;
              width: 80%;
            }
    
            .buttons-a,
            .buttons-b,
            .buttons-c {
              display: flex;
              justify-content: center;
              .source-code {
                font-size: 1.9rem;
                font-weight: 600;
                &:hover {
                    color: #FBBF00;
                    cursor: pointer;
                }
              }
              .view-project {
                @each $property, $value in $btn {
                    #{$property}: $value;
                    font-size: 1.9rem;
                }
                &:hover {
                    background-color: #ffaa00;
                    cursor: pointer;
                }
              }
    
              button {
                margin: 0 0.5em;
                font-size: 1rem;
                padding: 0.5em 1em;
              }
            }
          }
        }
      }
    }
    
    
    /* End of Project Section */

        
    /* Start of Skills Section */
        

    .skills {
        padding: 8em 0em 8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-size: $h3;
        }
        h4 {
            width: 90%;
            margin: auto;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 4em;
        }
        .tech-skills-a {
            display: flex;
            flex-direction: row;
            .group-a, .group-b {
                width: 80%;
                display: flex;
                margin: auto;
                padding: 1em;
            }
        }
        .tech-skills-b {
            display: flex;
            flex-direction: row;
            .group-c, .group-d {
                width: 80%;
                display: flex;
                margin: auto;
                padding: 1em;
            }
        }
    }


    /* End of Skills Section */

    /* Start of About Section */
    
    
    #aboutmyself.aboutmyself {
        text-align: center;
        background-color: #303030;
        color: #efefef;
        padding-top: 8em;
        padding-bottom: 8em;
        background: linear-gradient(to bottom, #42464B,  #16181a);
        h3 {
            font-size: $h3;
        }
        h4 {
            width: 90%;
            margin: auto;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 4em;
        }
        .short-version {
            .about {
                p {
                    font-size: 2rem;
                    width: 70%;
                    margin: auto;
                    margin-bottom: 2em;
                    line-height: 2;
                }
                .dogs {
                    img {
                        margin-bottom: 7em;
                    }
                }
            }
        }
        .other-versions {
            p {
                font-size: 2rem;
                width: 70%;
                margin: auto;
                margin-bottom: 5em;
                line-height: 2;
            }
            .read-more {
                color: #FBBF00;
                font-weight: 600;
            }
            img {
                display: none;
            }
        }
        a {
            font-size: 2rem;
            color: #FBBF00;
            font-weight: 600;
            &:hover {
                cursor: pointer;
            }
            &:is(.resume-link) {
                font-size: 4rem;
                text-decoration: underline;
            }
        }
        
    }
    
    
    /* End of About Section */
    
    /* Start of Contact Section */
    
    
    #contact.contact {
        background-color: #FBBF00;
        align-self: center;
        
        h3 {
            font-size: $h3;
            margin-bottom: 0.5em;
            font-weight: 600;
            text-align: Center;
        }
        h4 {
            width: 90%;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 3em;
        }
        
        .contact-container {
            display: flex;
            width: 100%;
            text-align: left;
            .contact-me {
                color: #efefef;
                width: 50%;
                text-align: left;
                padding: 8em 5em 8em 29em;
                background-image: url('https://raw.githubusercontent.com/SkymanS0n/portfolio-jerico-eijansantos/main/images/send-message.png');
                h3 {
                    display: none;
                    font-size: $h3;
                    margin-bottom: 0.5em;
                    font-weight: 600;
                    text-align: left;
                }
                h4 {
                    width: 90%;
                    text-align: left;
                    font-size: 2rem;
                    margin: auto;
                    margin-bottom: 3em;
                    display: none;
                }
                .send-message {
                    display: none;
                    font-size: 2rem;
                    padding: 0.5em;
                    text-align: left;
                    @each $property, $value in $btn {
                        #{$property}: $value;
                    }
                    &:hover {
                        background-color: #ffaa00;
                        cursor: pointer;
                    }
                }
                .business-email, .business-phone {
                    display: flex;
                    font-size: 2rem;
                    padding: 1em;
                    img {
                        display: flex;
                        align-items: center;
                        padding: 0em 1.5em 0em 0em;
                    }
                    p {
                        display: flex;
                        align-items: center;
                    }
                }
                .address2 {
                    display: flex;
                    font-size: 2rem;
                    padding: 0em 1em 1em 1em;
                    strong {
                        color: #FBBF00;
                        font-weight: 600;
                        transition: margin-left 0.3s ease-in-out;
                        &:hover {
                            cursor: pointer;
                            margin-left: 1em;
                        }
                    }
                    .address-icon {
                        display: flex;
                        align-items: center;
                        padding: 0em 1.5em 0em 0em;
                    }
                }
                .contact-details {
                    font-size: 2rem;
                    font-weight: 600;
                    width: fit-content;
                    text-align: left;
                    margin-top: 3em;
                    p:first-of-type {
                        transition: margin-left 0.3s ease-in-out;
                        &:hover {
                            cursor: pointer;
                            margin-left: 1em;
                        }
                    }
                }
                .social-links2 {
                    display: flex;
                    font-size: 2rem;
                    margin-bottom: 3em;
                    padding: 0em 1em 1em 1em;
                    .social-icon {
                        display: flex;
                        align-items: center;
                        a:first-of-type, a:last-of-type {
                            margin-right: 0.5em;
                            display: flex;
                            align-items: center;
                            transition: scale 0.2s ease-in-out;
                            &:hover {
                                cursor: pointer;
                                scale: 1.15;
                            }
                            img {
                                width: 60%;
                                height: auto;
                            }
                        }
                    }
                    .chat-icon {
                        display: flex;
                        align-items: center;
                        padding: 0em 1.5em 0em 0em;
                    }
                }
            }
            .contact-details2 {
                display: none;
            }
            .contact-form {
                width: 50%;
                padding: 8em 29em 8em 5em;
                background-color: #f1f1f1;
                form {
                    font-size: 2rem;
                    display: flex;
                    flex-direction: column;
                    textarea, input {
                        background-color: #dedede;
                    }
                    label {
                        padding-top: 1em;
                        padding-bottom: 0.5em;
                    }
                    button {
                        margin-top: 2em;
                        text-align: center;
                        width: 30%;
                        background-color: #FBBF00;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                        color: #000000;
                        font-weight: 600;
                        padding: 0.6em 1em;
                        &:hover {
                            background-color: #ffaa00;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    
    
    /* End of Contact Section */
    
    /* Start of Footer */
    
    
    footer {
        background-color: #16181a;
        color: #efefef;
        .footer-container {
            padding: 2em 0em;
            display: flex;
            width: 70%;
            margin: auto;
            justify-content: center;
            address {
                display: none;
            }
            .legal-regulations {
                font-size: 1.5rem;
                text-align: center;
                strong {
                    color: #FBBF00;
                    font-weight: 600;
                    &:hover {
                        cursor: pointer;
                        color: #ffaa00;
                    }
                }
            }
            .social-links {
                display: none;
            }
        }
    }
}
    
/* End of Footer */