@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$mobile-font: 1.6rem;
$mobile-font-h3: 3rem;
$mobile-font-h4: 2rem;
$mobile-btn-font: 1.5rem;
$hdr-ftr-bg: #16181a;
$mobile-width: 90%;
$font-color1: #efefef;
$focus: 2px solid white;
$carouselWidth: 100%;
$btn: (
  align-self: center,
  text-align: center,
  background-color: #FBBF00,
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),
  color: #000000,
  font-weight: 600,
  padding: 0.6em 1em,
  transition: background-color 0.3s ease,
);
$h3: 3rem;
$btn-single: (
    align-self: center,
    background-color: transparent,
    box-shadow: none,
    color: black,
    font-weight: 600,
    padding: 0.6em 1em,
);


html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import 'mobile-display';
@import 'tablet-display';
@import 'large-tablet-displays';
@import 'monitor-displays';
@import 'large-monitors';
@import 'large-tv-displays';
